<% provide(:title, @chapter.chapter_title) %>
  <!-- ヘッダー -->
  <!-- メインコンテンツ -->
  <main>
    <!-- サイドバー -->
    <aside class="sidebar">
      <a href="#" class="sidebar__item">Topページ</a>
      <a href="#" class="sidebar__item">Myページ</a>
      <a href="#" class="sidebar__item">学習の方法</a>
      <a href="#" class="sidebar__item">ヘルプ</a>
    </aside>
    <!-- コンテンツエリア -->
    <article class="main-content">
      <!-- パンくずリスト -->
      <div class="breadcrumbs">
        パンくず > パンくず
      </div>
      <!-- メインコンテンツをコンテナで囲む -->
      <div class="container">
        <!-- ここからメインコンテンツ -->
        <%= link_to "この章を編集する", edit_training_chapter_path(@training,@chapter), class: 'link-btn' %>
        <h1><%= markdown(@chapter.chapter_title) %></h1>
        <%= markdown(@chapter.content) %>
      </div>
    </article>
  </main>