/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

// require_treeで読み込めている。参考 ▶︎ （https://ja.stackoverflow.com/questions/82863/rails6%E3%83%AA%E3%82%BB%E3%83%83%E3%83%88css%E3%81%AA%E3%81%A9%E3%81%8C%EF%BC%92%E9%87%8D%E3%81%AB%E8%AA%AD%E3%81%BF%E8%BE%BC%E3%81%BE%E3%82%8C%E3%81%A6%E3%81%97%E3%81%BE%E3%81%86）
// @import 'reset';
// @import 'rouge';


.q-container{
  max-width: 1200px;
  margin-inline: auto;
  padding: 0 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}


// a {
//   position: relative;
//   display: inline-block;
//   color: #fff;
//   background-color: #3498db;
//   cursor: pointer;
//   padding: 16px 16px 16px 32px;
//   text-decoration: none;
//   border-radius: 5px;
//   font-weight: 700;
//   &:hover{
//     opacity: 0.8;
//   }
//   &::before{
//     font-family: "Font Awesome 6 Free";
//     font-weight: 900;
//     position: absolute;
//     top: 20px;
//     left: 10px;
//     content: "\f35d";
//     color: #FFD464;
//   }
// }

span.-required{
  color: red;
  margin-left: 5px;
}

/* エラーメッセージありの場合の設定 */
.field_with_errors{
  display: contents;
}